/* HOME PAGE STARTS */

#mobile-nav{
    display: none;
}

/* nav-section STARTS */

.top-info{
    background-color:#e3000f;
    color: white;
    display: flex;
    padding: 0px 50px 0px 50px;
    justify-content: space-between;
    padding-top: 15px !important;
}

.topInfo-list p i{
    padding-right: 7px;
}

.topInfo-list p{
    font-size: 16px;
    font-weight: 500;
    padding-top: 5px;
}

.topInfo-list h5{
    font-size: 17px;
    font-weight: 400;
    padding-top: 7px;
}


/* NAV STARTS */

#desktop-nav{
    padding: 0px 40px;
}

nav{
    background-color: transparent;
}

.nav-item{
    padding: 0px 10px;
    font-size: 17px;
}

.nav-link:hover{
    color: #e30000 !important;
}

.nav-link i{
    font-size: 13px;
    
}

.navbar-brand h3{
   padding-top: 10px !important;
   font-size: 30px;
   font-family:'Courier New', Courier, monospace;
   border: 0px;
   border-bottom: 4px solid #e30000;
   width: 140px;
   text-align: center;
   padding-bottom: 0px !important;
  
  
}

.dropdown:hover .dropdown-menu{
    display: block;
}

.search-content i{
    font-size: 19px;
    padding: 0px 10px;
    color: rgba(0, 0, 0, 0.749);
   
}

/* NAV ENDS */

/* nav-section ENDS */


/* hero-section STARTS */

.hero-section{
    background-image: url(../IMAGES/2.webp);
    height: 100vh;
    /* Height:81vh; */
    background-position: center;
    background-size: cover;
    width: 100%;
    padding: 40px 70px;
    
}

.hero-content{
   padding-top: 130px;
   /*  padding-top: 70px; */
  
}

.hero-content h6,h4,h3,p{
    padding-bottom: 15px;
}

.hero-content h4{
    font-size: 60px;
    font-weight: 350;
}

.hero-content h3{
    font-size: 57px;
    font-weight: 700;
}

.hero-content p{
    font-size: 16px;
    font-weight: 360;
}

.hero-content button{
    background-color: black;
    color: white;
    width: 150px;
    height: 50px;
    border: 0px;
    color: white;
}

/* hero-section ENDS */



/* product-section STARTS */

.product-section{
    padding: 40px 80px;
}

.product-intro{
    text-align: center;
    padding: 30px 40px;
}


.product-list img{
    width: 100%;
    height: auto;
    
}

.product-list{
    text-align: center;
    
}

.product-content{
    border: 1px solid gray;
    padding: 0px 0px;
    height: 65vh;
   
}

.products{
    position: relative;
}

.heart-list{
    position: absolute;
    top: 10px;
    right: 20px;
    display: none;

}

.cart-btn{
    background-color: #e3000f;
    width: 250px;
    height: 60px;
    border: none;
    color: white;
    position: absolute;
    bottom: 0px;
    right: 20px;  
    display: none; 
}

.product-content:hover .cart-btn{
    display: block;
    
}

.product-detail{
    padding-top: 30px;
}

.product-content:hover .heart-list{
    display: block;
}

.heart-btn{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid gray;
    background-color: white;
    display: block;
    margin-top: 10px;
    
}

.heart-btn i{
    color: gray;
    
}

.latest-product{
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;
}

.product-page-btn{
    background-color: #e3000f;
    color: white;
    border: none;
    width: 120px;
    height: 40px;
}

/*  */


/* categories-section STARTS  */

.categories-section{
    margin-top: 50px;
    background-color: whitesmoke;
    padding: 70px 0px;
}

.categories-content{
    padding: 40px 80px;
}

.top-categories img{
    width: 100%;
    height: auto;
}

.top-categories{
    position: relative;
}

.top-categories button{
    position: absolute;
    bottom: 30px;
    right: 35px;
    width: 220px;
    background-color: white;
    height: 45px;
    border: 0px;
    font-size: 18px;
    color: black;
    font-weight: 500;

}

.top-categories button:hover{
    background-color: black;
    color: white;
    transition: ease 0.5s;
}


/*  */


/*  */

.services-section{
    padding: 50px 80px;
    display: flex;
    overflow-x: scroll;
    
}

.company-services{
    display:flex;
   
    width: 100%;
   
}

.company-services div i{
    font-size: 40px;
    color: gray;
    padding-right: 15px;
    padding-top: 10px;
}



/*  */

.row{
    width: 100%;
    overflow-x: hidden;
}


/*  */


.comment-content{
    text-align: center;
    justify-content: center;
    padding: 40px 0px;
   
}


.comment-content h2{
    font-size: 53px;
    font-weight:10;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 20px 0px;
}

.comment-list p{
    padding: 20px 150px;
    font-size: 17px;
    font-weight: 400;
    color: gray;
}

.comment-list h6{
    padding-bottom: 30px;
}

.comment-list i{
    font-size: 70px;
}


.swiper-pagination{
   bottom: 0px;
}

/*  */


/* blog-section STARTS */

.blog-section{
    padding: 60px 80px;
}

.blog-wrapper h2{
    text-align: center;
    font-size: 53px;
    font-weight:10;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 30px 0px;

}

.blog-content div img{

    width: 100%;
    height: 300px;
}

.blog-content h6{
    padding: 10px 0px;
    letter-spacing: 1px;
}

.blog-content h5{
    font-size: 17px;
    font-weight: 600;
    padding-bottom: 10px;
}

.blog-content p{
    font-size: 15px;
    font-weight: 400;
    color: gray;
}

.blog-btn{
    background-color: transparent;
    border:none;
    font-size: 18px;
    font-weight: 500;
    padding: 2px 0px;
    text-decoration: underline;
   
}

.blog-btn:hover{
    text-decoration: none;
    transition: ease-out 0.4s;
}

/* blog-section ENDS */


/* FOOTER STARTS */

footer{
    background-color: black;
}

.footer-content{
    padding: 40px 40px;
}

.footer-list{
    color: gray;
}

.location-info{
    display: flex;
    
}

.footer-list h4{
    color: white;
    padding: 15px 0px;
}

.location-info div i{
    padding-right: 10px;
}

.socials-info{
    display: flex;
}

.socials-info div{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    padding-top: 5px;
    background-color: gray;
    font-size: 20px;
    margin-right: 10px;
    color: black;
}

.footer-list ul{
    list-style-type: none;
    padding: 0px;
}

.footer-list ul li{
    padding-bottom: 10px;
    font-size: 17px;
}

.footer-list ul li:hover{
    text-decoration: underline;
}

.footer-list form input{
    width: 100%;
    height: 50px;
    padding: 7px 7px;
    background-color: rgb(83, 82, 82);
    border: none;
}

.footer-list form button{
    margin-top: 20px;
    width: 150px;
    height: 50px;
    text-align: center;
    border: none;

}

/* FOOTER ENDS */

/* HOME PAGE ENDS  */


/* PRODUCT DETAILS PAGE STARTS */

.product-page{
    padding: 60px 70px;
    height: 70vh;
    background-image: url(../IMAGES/Rectangle_44959_2.webp);
    background-size: cover;
    background-repeat: no-repeat;
    
}


/*  */

.product-info-section{
    padding: 50px 60px;
}

.product-information img{
    width: 100%;
    height: 110px;
}

.product-information{
    
    margin-bottom: 20px;
}

.product-information.active{
    border: 2px solid black;

}

.product-information:hover{
    border: 2px solid black;
    cursor: pointer;
}

.full-image-detail{
    height: 100%;
    display: none;
}

.full-image-detail img{
    width: 100%;
    height: 100%;
}

/*  */

/* PRODUCT DETAILS PAGE ENDS */



@media screen and (max-width : 778px) {
    

    #mobile-nav{
        display: inherit;
    }

    #desktop-nav{
        display: none;
    }

    .top-info{
        display: none;
    }

    .hero-section{
        background-position: none;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .product-section{
       padding:10px 20px;
    }

    .product-content{
        height: 60vh;
       
    }

    .cart-btn{
        bottom: 0px;
        width: 130px;
        right: 50px;
        height: 40px;
    }

    /*  */

    .categories-section{
        padding: 30px 0px;
    }

    .categories-content{
        padding: 20px 20px;
    }

    .top-categories button{
        right: 35px;
        width: 160px;
    }

    .comment-content h2{
        font-size: 35px;
    }

    .comment-list p{
        padding: 20px 20px;
    }

    .comment-list i{
        font-size: 35px;
    }


    /*  */

    .blog-section{
        padding: 30px 20px;
    }

    .blog-wrapper h2{
        font-size: 35px;
    }

}